li {
    margin: 20px;
}

div {
    border: 1px solid black;
}

.fiveDay {
    margin: 10px;
} 

#wIcon {
    vertical-align: middle;
}

#wCity {
    vertical-align: middle;
    display: inline;
}

#wUVIndex {
    display: inline;
}

#wUVIndex1 {
    display: inline-block;
}